/* Landing Page */

position: relative;
width: 1920px;
height: 4564px;

background: #FBFCFF;


/* Rectangle 937 */

position: absolute;
width: 1216px;
height: 902px;
left: 1343px;
top: 1256px;

background: url(hand-holding-house-real-estate-property-model.jpg);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* hold 1 */

position: absolute;
width: 1026px;
height: 1026px;
left: -10px;
top: 1218px;

background: url(hold.jpg);


/* jj 1 */

position: absolute;
visibility: hidden;
width: 2256px;
height: 1421px;
left: -565px;
top: 4972px;

background: url(jj.png);


/* map 1 */

position: absolute;
visibility: hidden;
width: 295px;
height: 295px;
left: 1138px;
top: 3739px;



/* Group */

position: absolute;
left: 25.61%;
right: 0%;
top: 37.42%;
bottom: 5.36%;



/* Vector */

position: absolute;
left: 70.79%;
right: 0%;
top: 37.42%;
bottom: 5.36%;

background: #44C868;


/* Vector */

position: absolute;
left: 25.61%;
right: 50%;
top: 37.42%;
bottom: 5.36%;

background: #44C868;


/* Group */

position: absolute;
left: 0%;
right: 25.61%;
top: 37.42%;
bottom: 5.36%;



/* Vector */

position: absolute;
left: 0%;
right: 70.79%;
top: 37.42%;
bottom: 5.36%;

background: #4CE166;


/* Vector */

position: absolute;
left: 50%;
right: 25.61%;
top: 37.43%;
bottom: 5.36%;

background: #4CE166;


/* Vector */

position: absolute;
left: 3.9%;
right: 71.83%;
top: 50.8%;
bottom: 28.47%;

background: #FFDB56;


/* Vector */

position: absolute;
left: 0%;
right: 72.25%;
top: 56.31%;
bottom: 5.36%;

background: #A8EEFC;


/* Group */

position: absolute;
left: 27.53%;
right: 10.17%;
top: 42.45%;
bottom: 6.83%;



/* Vector */

position: absolute;
left: 27.53%;
right: 49.99%;
top: 50.8%;
bottom: 6.83%;

background: #FFBB24;


/* Vector */

position: absolute;
left: 71.34%;
right: 10.17%;
top: 42.45%;
bottom: 48.26%;

background: #FFBB24;


/* Vector */

position: absolute;
left: 50.01%;
right: 27.3%;
top: 44.56%;
bottom: 37.97%;

background: #FFDB56;


/* Vector */

position: absolute;
left: 71.9%;
right: 0%;
top: 51.74%;
bottom: 5.7%;

background: #FFBB24;


/* Vector */

position: absolute;
left: 29.56%;
right: 29.37%;
top: 5.36%;
bottom: 41.9%;

background: #FF4A4A;


/* Vector */

position: absolute;
left: 47.45%;
right: 29.37%;
top: 5.36%;
bottom: 41.9%;

background: #E7343F;


/* Vector */

position: absolute;
left: 50%;
right: 40.55%;
top: 80.76%;
bottom: 5.36%;

background: #FFDB56;


/* Group */

position: absolute;
left: 25.61%;
right: 2%;
top: 47.74%;
bottom: 5.36%;



/* Vector */

position: absolute;
left: 71.9%;
right: 2%;
top: 47.74%;
bottom: 17.97%;

background: #1EA4E9;


/* Vector */

position: absolute;
left: 25.61%;
right: 50%;
top: 59.05%;
bottom: 5.36%;

background: #1EA4E9;


/* Get the Treg Mobile App */

position: absolute;
visibility: hidden;
width: 396px;
height: 111px;
left: 1051px;
top: 5380px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 49px;

color: #252B42;



/* 3d-rendering-la-modern-contemporary-house-wood-concrete-early-evening copy 1 */

position: absolute;
width: 1920px;
height: 943px;
left: 0px;
top: 109px;

background: url(3d-rendering-la-modern-contemporary-house-wood-concrete-early-evening copy.jpg);


/* Rectangle 1035 */

position: absolute;
width: 1920px;
height: 1096px;
left: -4px;
top: 3398px;

background: #ACD060;


/* Rectangle 1036 */

position: absolute;
width: 1920px;
height: 1166px;
left: -4px;
top: 3398px;

background: #DCE2EA;


/* Rectangle */

position: absolute;
width: 1910px;
height: 1168px;
left: 9px;
top: 3396px;

background: url(.png);


/* An agent is anyone who brings us buyers or property to sell. Register with us as an agent, let's close deals and you get a fair commission. */

position: absolute;
width: 644px;
height: 96px;
left: 638px;
top: 3579px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */
text-align: center;

/* CTO - Primary */
color: #093304;



/* Head */

position: absolute;
width: 1918px;
height: 1048.24px;
left: 2px;
top: 0px;



/* Pick Up location */

position: absolute;
width: 280px;
height: 89px;
left: 271px;
top: 706px;



/* Form */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 14.61%;
bottom: 0%;

background: #FFFFFF;
border: 1px solid rgba(110, 118, 132, 0.326677);
border-radius: 11px;


/* City, State or Airpo */

position: absolute;
left: 34.64%;
right: 34.64%;
top: 44.94%;
bottom: 23.6%;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 25px;

color: rgba(31, 43, 62, 0.679715);



/* Pick Up location */

position: absolute;
width: 280px;
height: 89px;
left: 583px;
top: 706px;



/* Form */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 16.85%;
bottom: 0%;

background: #FFFFFF;
border: 1px solid rgba(110, 118, 132, 0.326677);
border-radius: 11px;


/* City, State or Airpo */

position: absolute;
left: 35%;
right: 35%;
top: 44.94%;
bottom: 23.6%;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 25px;

color: #138D2B;



/* Group 4 */

position: absolute;
width: 0px;
height: 1048.24px;
left: 1868.05px;
top: 0px;

opacity: 0.4;


/* Vector 3 */

position: absolute;
width: 0px;
height: 1048.24px;
left: 1868.05px;
top: 0px;



/* Header */

position: absolute;
width: 1918px;
height: 159.83px;
left: 2px;
top: 0px;



/* Rectangle 634 */

position: absolute;
width: 1918px;
height: 159.83px;
left: 2px;
top: 0px;

background: #C4C4C4;
opacity: 0;


/* Pripirty */

position: absolute;
width: 134.53px;
height: 51.95px;
left: 161.83px;
top: 55.94px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 39px;
letter-spacing: 0.257143px;

color: #FFFFFF;



/* Home */

position: absolute;
width: 63.93px;
height: 31.97px;
left: 389.59px;
top: 62.6px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

color: #41C8E6;



/* About us */

position: absolute;
width: 95.9px;
height: 31.97px;
left: 506.81px;
top: 62.6px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

color: #FFFFFF;



/* Our Services */

position: absolute;
width: 134.53px;
height: 31.97px;
left: 655.98px;
top: 62.6px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

color: #FFFFFF;



/* Testimonial */

position: absolute;
width: 126.53px;
height: 31.97px;
left: 843.79px;
top: 62.6px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

color: #FFFFFF;



/* Contact us */

position: absolute;
width: 118.54px;
height: 31.97px;
left: 1023.6px;
top: 62.6px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

color: #FFFFFF;



/* Rectangle 14 */

position: absolute;
width: 42.62px;
height: 4px;
left: 389.59px;
top: 97.23px;

background: #41C8E6;
border-radius: 100px;


/* Group 8 */

position: absolute;
width: 173.15px;
height: 59.94px;
left: 1587.02px;
top: 49.28px;



/* Rectangle 633 */

box-sizing: border-box;

position: absolute;
width: 173.15px;
height: 59.94px;
left: 1587.02px;
top: 49.28px;

border: 1px solid #FFFFFF;
border-radius: 30px;


/* Register */

position: absolute;
width: 77.25px;
height: 27.97px;
left: 1634.96px;
top: 65.27px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;

color: #FFFFFF;



/* Login */

position: absolute;
width: 50.61px;
height: 27.97px;
left: 1483.12px;
top: 65.27px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;

color: #FFFFFF;



/* From Douala to Lagos to Capetown Buy or sell your Properties */

position: absolute;
width: 1250px;
height: 176px;
left: 271px;
top: 493px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 72px;
line-height: 83px;
/* or 115% */

color: #FFFFFF;

text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.87);


/* How It's work */

position: absolute;
width: 839.86px;
height: 799.32px;
left: 955px;
top: 1310.84px;



/* Build */

position: absolute;
width: 402.86px;
height: 383.16px;
left: 955px;
top: 1310.84px;



/* Rectangle 623 */

position: absolute;
width: 402.86px;
height: 383.16px;
left: 955px;
top: 1310.84px;

background: #009617;
box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.05);
border-radius: 20px;


/* Add */

position: absolute;
width: 30.65px;
height: 30.65px;
left: 1014.12px;
top: 1360.11px;



/* 49 */

position: absolute;
width: 30.65px;
height: 30.65px;
left: 1014.12px;
top: 1360.11px;



/* Group */

position: absolute;
left: 5.77%;
right: -0.01%;
top: 5.66%;
bottom: 0.11%;



/* Vector */

position: absolute;
left: 27.44%;
right: 31.69%;
top: 5.66%;
bottom: 53.96%;

border: 2px solid #FFFFFF;


/* Vector */

position: absolute;
left: 5.77%;
right: 29.78%;
top: 58.18%;
bottom: 13.63%;

border: 2px solid #FFFFFF;


/* Vector */

position: absolute;
left: 61.96%;
right: -0.01%;
top: 62.35%;
bottom: 0.11%;

border: 2px solid #FFFFFF;


/* Buy a Property */

position: absolute;
width: 307.62px;
height: 87.58px;
left: 998.79px;
top: 1431.26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 42px;
letter-spacing: 0.2px;

color: #FFFFFF;



/* Property Management (Rental and Private) */

position: absolute;
width: 326.23px;
height: 64.59px;
left: 998.79px;
top: 1491.54px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2px;

color: #FFFFFF;



/* Group 1082 */

position: absolute;
width: 151.07px;
height: 28.46px;
left: 998.79px;
top: 1619.56px;



/* LEARN MORE */

position: absolute;
width: 119.33px;
height: 28.46px;
left: 998.79px;
top: 1619.56px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
/* or 186% */
letter-spacing: 0.2em;

color: #FFFFFF;



/* Group 1081 */

position: absolute;
width: 14.78px;
height: 10.95px;
left: 1135.08px;
top: 1628.32px;



/* Vector 19 */

position: absolute;
width: 5.47px;
height: 10.95px;
left: 1144.39px;
top: 1628.32px;

border: 1.5px solid #FFFFFF;


/* Vector 20 */

position: absolute;
width: 14.78px;
height: 0px;
left: 1135.08px;
top: 1633.79px;

border: 1.5px solid #FFFFFF;


/* Build */

position: absolute;
width: 402.86px;
height: 383.16px;
left: 955px;
top: 1727px;



/* Rectangle 623 */

position: absolute;
width: 402.86px;
height: 383.16px;
left: 955px;
top: 1727px;

background: #009617;
box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.05);
border-radius: 20px;


/* Add */

position: absolute;
width: 30.65px;
height: 30.65px;
left: 1014.12px;
top: 1776.26px;



/* 49 */

position: absolute;
width: 30.65px;
height: 30.65px;
left: 1014.12px;
top: 1776.26px;



/* Group */

position: absolute;
left: 5.77%;
right: -0.01%;
top: 5.66%;
bottom: 0.11%;



/* Vector */

position: absolute;
left: 27.44%;
right: 31.69%;
top: 5.66%;
bottom: 53.96%;

border: 2px solid #FFFFFF;


/* Vector */

position: absolute;
left: 5.77%;
right: 29.78%;
top: 58.18%;
bottom: 13.63%;

border: 2px solid #FFFFFF;


/* Vector */

position: absolute;
left: 61.96%;
right: -0.01%;
top: 62.35%;
bottom: 0.11%;

border: 2px solid #FFFFFF;


/* Request a Technical service */

position: absolute;
width: 307.62px;
height: 87.58px;
left: 998.79px;
top: 1847.42px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 42px;
letter-spacing: 0.2px;

color: #FFFFFF;



/* Technican Service with Relevant skills */

position: absolute;
width: 326.23px;
height: 64.59px;
left: 998.79px;
top: 1935.69px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2px;

color: #FFFFFF;



/* Group 1082 */

position: absolute;
width: 151.07px;
height: 28.46px;
left: 998.79px;
top: 2035.72px;



/* LEARN MORE */

position: absolute;
width: 119.33px;
height: 28.46px;
left: 998.79px;
top: 2035.72px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
/* or 186% */
letter-spacing: 0.2em;

color: #FFFFFF;



/* Group 1081 */

position: absolute;
width: 14.78px;
height: 10.95px;
left: 1135.08px;
top: 2044.47px;



/* Vector 19 */

position: absolute;
width: 5.47px;
height: 10.95px;
left: 1144.39px;
top: 2044.47px;

border: 1.5px solid #FFFFFF;


/* Vector 20 */

position: absolute;
width: 14.78px;
height: 0px;
left: 1135.08px;
top: 2049.95px;

border: 1.5px solid #FFFFFF;


/* Build */

position: absolute;
width: 402.86px;
height: 383.16px;
left: 1392px;
top: 1727px;



/* Rectangle 623 */

position: absolute;
width: 402.86px;
height: 383.16px;
left: 1392px;
top: 1727px;

background: #009617;
box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.05);
border-radius: 20px;


/* Add */

position: absolute;
width: 30.65px;
height: 30.65px;
left: 1451.12px;
top: 1776.26px;



/* 49 */

position: absolute;
width: 30.65px;
height: 30.65px;
left: 1451.12px;
top: 1776.26px;



/* Group */

position: absolute;
left: 5.77%;
right: -0.01%;
top: 5.66%;
bottom: 0.11%;



/* Vector */

position: absolute;
left: 27.44%;
right: 31.69%;
top: 5.66%;
bottom: 53.96%;

border: 2px solid #FFFFFF;


/* Vector */

position: absolute;
left: 5.77%;
right: 29.78%;
top: 58.18%;
bottom: 13.63%;

border: 2px solid #FFFFFF;


/* Vector */

position: absolute;
left: 61.96%;
right: -0.01%;
top: 62.35%;
bottom: 0.11%;

border: 2px solid #FFFFFF;


/* Become an Agent */

position: absolute;
width: 307px;
height: 36px;
left: 1436px;
top: 1847px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 42px;
letter-spacing: 0.2px;

color: #FFFFFF;



/* Facilitation of the acquisition of Properties and get a comission */

position: absolute;
width: 326.23px;
height: 64.59px;
left: 1435.79px;
top: 1907.69px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2px;

color: #FFFFFF;



/* Group 1082 */

position: absolute;
width: 151.07px;
height: 28.46px;
left: 1435.79px;
top: 2035.72px;



/* LEARN MORE */

position: absolute;
width: 119.33px;
height: 28.46px;
left: 1435.79px;
top: 2035.72px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
/* or 186% */
letter-spacing: 0.2em;

color: #FFFFFF;



/* Group 1081 */

position: absolute;
width: 14.78px;
height: 10.95px;
left: 1572.08px;
top: 2044.47px;



/* Vector 19 */

position: absolute;
width: 5.47px;
height: 10.95px;
left: 1581.39px;
top: 2044.47px;

border: 1.5px solid #FFFFFF;


/* Vector 20 */

position: absolute;
width: 14.78px;
height: 0px;
left: 1572.08px;
top: 2049.95px;

border: 1.5px solid #FFFFFF;


/* Build */

position: absolute;
width: 402.86px;
height: 383.16px;
left: 1392px;
top: 1311px;



/* Rectangle 623 */

position: absolute;
width: 402.86px;
height: 383.16px;
left: 1392px;
top: 1311px;

background: #009617;
box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.05);
border-radius: 20px;


/* Add */

position: absolute;
width: 30.65px;
height: 30.65px;
left: 1451.12px;
top: 1360.26px;



/* 49 */

position: absolute;
width: 30.65px;
height: 30.65px;
left: 1451.12px;
top: 1360.26px;



/* Group */

position: absolute;
left: 5.77%;
right: -0.01%;
top: 5.66%;
bottom: 0.11%;



/* Vector */

position: absolute;
left: 27.44%;
right: 31.69%;
top: 5.66%;
bottom: 53.96%;

border: 2px solid #FFFFFF;


/* Vector */

position: absolute;
left: 5.77%;
right: 29.78%;
top: 58.18%;
bottom: 13.63%;

border: 2px solid #FFFFFF;


/* Vector */

position: absolute;
left: 61.96%;
right: -0.01%;
top: 62.35%;
bottom: 0.11%;

border: 2px solid #FFFFFF;


/* Sell a property */

position: absolute;
width: 307.62px;
height: 87.58px;
left: 1435.79px;
top: 1431.42px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 42px;
letter-spacing: 0.2px;

color: #FFFFFF;



/* General Brokerage Services */

position: absolute;
width: 326px;
height: 31px;
left: 1436px;
top: 1492px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2px;

color: #FFFFFF;



/* Group 1082 */

position: absolute;
width: 151.07px;
height: 28.46px;
left: 1435.79px;
top: 1619.72px;



/* LEARN MORE */

position: absolute;
width: 119.33px;
height: 28.46px;
left: 1435.79px;
top: 1619.72px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
/* or 186% */
letter-spacing: 0.2em;

color: #FFFFFF;



/* Group 1081 */

position: absolute;
width: 14.78px;
height: 10.95px;
left: 1572.08px;
top: 1628.47px;



/* Vector 19 */

position: absolute;
width: 5.47px;
height: 10.95px;
left: 1581.39px;
top: 1628.47px;

border: 1.5px solid #FFFFFF;


/* Vector 20 */

position: absolute;
width: 14.78px;
height: 0px;
left: 1572.08px;
top: 1633.95px;

border: 1.5px solid #FFFFFF;


/* Why Choose Us */

position: absolute;
visibility: hidden;
width: 1212px;
height: 733.4px;
left: 346px;
top: 1978px;



/* Group 3 */

position: absolute;
width: 262px;
height: 159.4px;
left: 1296px;
top: 2552px;



/* Ellipse 2 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1296px;
top: 2552px;

background: #C4C4C4;


/* Ellipse 14 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1296px;
top: 2654.6px;

background: #C4C4C4;


/* Ellipse 8 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1296px;
top: 2603.3px;

background: #C4C4C4;


/* Ellipse 15 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1296px;
top: 2705.9px;

background: #C4C4C4;


/* Ellipse 4 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1398.6px;
top: 2552px;

background: #C4C4C4;


/* Ellipse 16 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1398.6px;
top: 2654.6px;

background: #C4C4C4;


/* Ellipse 9 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1398.6px;
top: 2603.3px;

background: #C4C4C4;


/* Ellipse 17 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1398.6px;
top: 2705.9px;

background: #C4C4C4;


/* Ellipse 6 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1501.2px;
top: 2552px;

background: #C4C4C4;


/* Ellipse 18 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1501.2px;
top: 2654.6px;

background: #C4C4C4;


/* Ellipse 10 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1501.2px;
top: 2603.3px;

background: #C4C4C4;


/* Ellipse 19 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1501.2px;
top: 2705.9px;

background: #C4C4C4;


/* Ellipse 3 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1347.3px;
top: 2552px;

background: #C4C4C4;


/* Ellipse 20 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1347.3px;
top: 2654.6px;

background: #C4C4C4;


/* Ellipse 11 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1347.3px;
top: 2603.3px;

background: #C4C4C4;


/* Ellipse 21 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1347.3px;
top: 2705.9px;

background: #C4C4C4;


/* Ellipse 5 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1449.9px;
top: 2552px;

background: #C4C4C4;


/* Ellipse 22 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1449.9px;
top: 2654.6px;

background: #C4C4C4;


/* Ellipse 12 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1449.9px;
top: 2603.3px;

background: #C4C4C4;


/* Ellipse 23 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1449.9px;
top: 2705.9px;

background: #C4C4C4;


/* Ellipse 7 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1552.5px;
top: 2552px;

background: #C4C4C4;


/* Ellipse 24 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1552.5px;
top: 2654.6px;

background: #C4C4C4;


/* Ellipse 13 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1552.5px;
top: 2603.3px;

background: #C4C4C4;


/* Ellipse 25 */

position: absolute;
width: 5.5px;
height: 5.5px;
left: 1552.5px;
top: 2705.9px;

background: #C4C4C4;


/* Why choose us our services */

position: absolute;
width: 434px;
height: 120px;
left: 346px;
top: 2018px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;

/* bluedark */
color: #0A043C;



/* Provide convenience services with attractive and fun options. */

position: absolute;
width: 452px;
height: 74px;
left: 1012px;
top: 1991px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 37px;
/* or 185% */

/* GREY */
color: #79869F;



/* 1 */

position: absolute;
width: 575px;
height: 90px;
left: 346px;
top: 2194px;



/* Rectangle 638 */

position: absolute;
width: 575px;
height: 90px;
left: 346px;
top: 2194px;

background: #FFFFFF;
box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.05);
border-radius: 10px;


/* Group 62 */

position: absolute;
width: 32px;
height: 36px;
left: 381px;
top: 2221px;



/* Polygon 1 */

position: absolute;
width: 32px;
height: 36px;
left: 381px;
top: 2221px;

background: #54BCBD;
border-radius: 4px;


/* 1 */

position: absolute;
width: 11px;
height: 21px;
left: 391px;
top: 2229px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height */
text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;



/* Group 1699 */

position: absolute;
width: 394px;
height: 48px;
left: 439px;
top: 2215px;



/* Easy Payment method */

position: absolute;
width: 204px;
height: 26px;
left: 439px;
top: 2215px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 26px;
/* identical to box height */
letter-spacing: 0.02em;

/* darkblue */
color: #0A043C;



/* control all the ease of your transactions quickly and effectively */

position: absolute;
width: 394px;
height: 18px;
left: 439px;
top: 2245px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */
letter-spacing: 0.02em;

/* GREY */
color: #79869F;



/* 2 */

position: absolute;
width: 575px;
height: 90px;
left: 346px;
top: 2308px;



/* Rectangle 638 */

position: absolute;
width: 575px;
height: 90px;
left: 346px;
top: 2308px;

border-radius: 10px;


/* Group 62 */

position: absolute;
width: 32px;
height: 36px;
left: 381px;
top: 2335px;



/* Polygon 1 */

position: absolute;
width: 32px;
height: 36px;
left: 381px;
top: 2335px;

background: #54BCBD;
border-radius: 4px;


/* 2 */

position: absolute;
width: 11px;
height: 21px;
left: 392px;
top: 2342px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height */
text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;



/* Group 1699 */

position: absolute;
width: 431px;
height: 49px;
left: 439px;
top: 2329px;



/* Real Etate Insurance */

position: absolute;
width: 186px;
height: 26px;
left: 439px;
top: 2329px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 26px;
/* identical to box height */
letter-spacing: 0.02em;

/* darkblue */
color: #0A043C;



/* with easy insurance. you don't have to worry about your Real Estate */

position: absolute;
width: 431px;
height: 18px;
left: 439px;
top: 2360px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */
letter-spacing: 0.02em;

/* GREY */
color: #79869F;



/* 3 */

position: absolute;
width: 575px;
height: 90px;
left: 346px;
top: 2422px;



/* Rectangle 638 */

position: absolute;
width: 575px;
height: 90px;
left: 346px;
top: 2422px;

border-radius: 10px;


/* Group 62 */

position: absolute;
width: 32px;
height: 36px;
left: 381px;
top: 2449px;



/* Polygon 1 */

position: absolute;
width: 32px;
height: 36px;
left: 381px;
top: 2449px;

background: #54BCBD;
border-radius: 4px;


/* 3 */

position: absolute;
width: 11px;
height: 21px;
left: 392px;
top: 2456px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height */
text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;



/* Group 1699 */

position: absolute;
width: 221px;
height: 49px;
left: 439px;
top: 2443px;



/* Tax Advantage */

position: absolute;
width: 138px;
height: 26px;
left: 439px;
top: 2443px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 26px;
/* identical to box height */
letter-spacing: 0.02em;

/* darkblue */
color: #0A043C;



/* the ratio of paying taxes each year */

position: absolute;
width: 221px;
height: 18px;
left: 439px;
top: 2474px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */
letter-spacing: 0.02em;

/* GREY */
color: #79869F;



/* 4 */

position: absolute;
width: 575px;
height: 90px;
left: 346px;
top: 2536px;



/* Rectangle 638 */

position: absolute;
width: 575px;
height: 90px;
left: 346px;
top: 2536px;

border-radius: 10px;


/* Group 62 */

position: absolute;
width: 32px;
height: 36px;
left: 381px;
top: 2563px;



/* Polygon 1 */

position: absolute;
width: 32px;
height: 36px;
left: 381px;
top: 2563px;

background: #54BCBD;
border-radius: 4px;


/* 4 */

position: absolute;
width: 11px;
height: 21px;
left: 391px;
top: 2571px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height */
text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;



/* Group 1699 */

position: absolute;
width: 287px;
height: 50px;
left: 439px;
top: 2557px;



/* Fast Services Problem */

position: absolute;
width: 200px;
height: 26px;
left: 439px;
top: 2557px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 26px;
/* identical to box height */
letter-spacing: 0.02em;

/* darkblue */
color: #0A043C;



/* 24-hour complaint service, willing to help you */

position: absolute;
width: 287px;
height: 20px;
left: 439px;
top: 2587px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.02em;

/* GREY */
color: #79869F;



/* OUR SERVICES */

position: absolute;
width: 134px;
height: 24px;
left: 346px;
top: 1978px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: center;
letter-spacing: 0.12em;

color: #54BCBD;



/* Mask Group */

position: absolute;
width: 485px;
height: 511px;
left: 1012px;
top: 2121px;



/* Rectangle 624 */

position: absolute;
width: 485px;
height: 511px;
left: 1012px;
top: 2121px;

background: #C4C4C4;
border-radius: 10px;


/* Best Place */

position: absolute;
visibility: hidden;
width: 1440px;
height: 810px;
left: 226px;
top: 2752px;



/* Rectangle 640 */

position: absolute;
width: 1440px;
height: 810px;
left: 226px;
top: 2752px;

background: #F9F9F9;


/* Group 1702 */

position: absolute;
width: 1200px;
height: 90px;
left: 346px;
top: 2800px;



/* Best Place Real Estate */

position: absolute;
width: 446px;
height: 50px;
left: 346px;
top: 2800px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;

/* darkblue */
color: #0A043C;



/* Browse through the best and best home properties for your convenience */

position: absolute;
width: 585px;
height: 24px;
left: 346px;
top: 2866px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */

/* GREY */
color: #79869F;



/* Group 1700 */

position: absolute;
width: 200px;
height: 65px;
left: 1346px;
top: 2825px;



/* Rectangle 625 */

position: absolute;
width: 200px;
height: 65px;
left: 1346px;
top: 2825px;

/* Blue */
background: #2979F2;
opacity: 0.1;
border-radius: 10px;


/* View All */

position: absolute;
width: 78px;
height: 36px;
left: 1407px;
top: 2840px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 36px;
/* identical to box height, or 180% */

color: #54BCBD;



/* Group 1701 */

position: absolute;
width: 884px;
height: 37px;
left: 355px;
top: 2970px;



/* Apartment Property */

position: absolute;
width: 244px;
height: 36px;
left: 355px;
top: 2970px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */

color: #54BCBD;



/* Vector 21 */

position: absolute;
width: 241px;
height: 0px;
left: 355px;
top: 3007px;

border: 2px solid #54BCBD;


/* Real estate Traditional */

position: absolute;
width: 272px;
height: 36px;
left: 967px;
top: 2970px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height */

/* GREY */
color: #79869F;

opacity: 0.6;


/* Real estate Industrial */

position: absolute;
width: 256px;
height: 36px;
left: 655px;
top: 2970px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height */

/* GREY */
color: #79869F;

opacity: 0.6;


/* 1 */

position: absolute;
width: 381px;
height: 467px;
left: 355px;
top: 3047px;



/* Mask Group */

position: absolute;
width: 381px;
height: 334px;
left: 355px;
top: 3047px;



/* Rectangle 639 */

position: absolute;
width: 381px;
height: 334px;
left: 355px;
top: 3047px;

background: #C4C4C4;
border-radius: 10px;


/* Minimalist Hall Apartment */

position: absolute;
width: 294px;
height: 33px;
left: 355px;
top: 3405px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 33px;
/* identical to box height */

/* darkblue */
color: #0A043C;



/* Group 1705 */

position: absolute;
width: 231px;
height: 24px;
left: 355px;
top: 3446px;



/* location copy */

position: absolute;
width: 24px;
height: 24px;
left: 355px;
top: 3446px;



/* Group 1703 */

position: absolute;
width: 10.8px;
height: 13.89px;
left: 5.5px;
top: 5px;



/* Vector */

position: absolute;
left: 22.9%;
right: 32.08%;
top: 20.83%;
bottom: 21.29%;

/* GREY */
border: 1.5px solid #79869F;


/* Vector */

position: absolute;
left: 37.73%;
right: 46.9%;
top: 35.66%;
bottom: 48.97%;

/* GREY */
border: 1.5px solid #79869F;


/* Manhattan, United States */

position: absolute;
width: 205px;
height: 24px;
left: 381px;
top: 3446px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

/* GREY */
color: #79869F;



/* $1500 / month */

position: absolute;
width: 135px;
height: 36px;
left: 355px;
top: 3478px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */

color: #F26767;



/* 2 */

position: absolute;
width: 381px;
height: 467px;
left: 760px;
top: 3047px;



/* Mask Group */

position: absolute;
width: 381px;
height: 334px;
left: 760px;
top: 3047px;



/* Rectangle 639 */

position: absolute;
width: 381px;
height: 334px;
left: 760px;
top: 3047px;

background: #C4C4C4;
border-radius: 10px;


/* Rock Bottom Property */

position: absolute;
width: 243px;
height: 33px;
left: 760px;
top: 3405px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 33px;
/* identical to box height */

/* darkblue */
color: #0A043C;



/* Group 1706 */

position: absolute;
width: 215px;
height: 24px;
left: 760px;
top: 3446px;



/* location copy */

position: absolute;
width: 24px;
height: 24px;
left: 760px;
top: 3446px;



/* Group 1703 */

position: absolute;
width: 10.8px;
height: 13.89px;
left: 5.5px;
top: 5px;



/* Vector */

position: absolute;
left: 22.9%;
right: 32.08%;
top: 20.83%;
bottom: 21.29%;

/* GREY */
border: 1.5px solid #79869F;


/* Vector */

position: absolute;
left: 37.73%;
right: 46.9%;
top: 35.66%;
bottom: 48.97%;

/* GREY */
border: 1.5px solid #79869F;


/* New York, United States */

position: absolute;
width: 189px;
height: 24px;
left: 786px;
top: 3446px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

/* GREY */
color: #79869F;



/* $1600 / month */

position: absolute;
width: 135px;
height: 36px;
left: 760px;
top: 3478px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */

color: #F26767;



/* 3 */

position: absolute;
width: 381px;
height: 467px;
left: 1165px;
top: 3047px;



/* Mask Group */

position: absolute;
width: 381px;
height: 334px;
left: 1165px;
top: 3047px;



/* Rectangle 639 */

position: absolute;
width: 381px;
height: 334px;
left: 1165px;
top: 3047px;

background: #C4C4C4;
border-radius: 10px;


/* Room Space Property */

position: absolute;
width: 242px;
height: 33px;
left: 1165px;
top: 3405px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 33px;
/* identical to box height */

/* darkblue */
color: #0A043C;



/* Group 1708 */

position: absolute;
width: 226px;
height: 24px;
left: 1165px;
top: 3446px;



/* location copy */

position: absolute;
width: 24px;
height: 24px;
left: 1165px;
top: 3446px;



/* Group 1703 */

position: absolute;
width: 10.8px;
height: 13.89px;
left: 5.5px;
top: 5px;



/* Vector */

position: absolute;
left: 22.9%;
right: 32.08%;
top: 20.83%;
bottom: 21.29%;

/* GREY */
border: 1.5px solid #79869F;


/* Vector */

position: absolute;
left: 37.73%;
right: 46.9%;
top: 35.66%;
bottom: 48.97%;

/* GREY */
border: 1.5px solid #79869F;


/* Oklahoma, United States */

position: absolute;
width: 200px;
height: 24px;
left: 1191px;
top: 3446px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

/* GREY */
color: #79869F;



/* $1200 / month */

position: absolute;
width: 133px;
height: 36px;
left: 1165px;
top: 3478px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */

color: #F26767;



/* Group 35 */

position: absolute;
width: 1631.75px;
height: 30.94px;
left: 119px;
top: 555px;



/* Polygon 1 */

box-sizing: border-box;

position: absolute;
width: 30.94px;
height: 16.54px;
left: 1750.75px;
top: 555px;

border: 7px solid #FFFFFF;
transform: rotate(90deg);


/* Polygon 2 */

box-sizing: border-box;

position: absolute;
width: 30.94px;
height: 16.54px;
left: 119px;
top: 555px;

border: 7px solid rgba(255, 255, 255, 0.5);
transform: matrix(0, 1, 1, 0, 0, 0);


/* Why Choose Us */

position: absolute;
width: 1383px;
height: 806.35px;
left: 269px;
top: 2466.79px;



/* Group 3 */

position: absolute;
width: 293.35px;
height: 178.47px;
left: 1358.66px;
top: 3094.67px;



/* Ellipse 2 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1358.66px;
top: 3094.67px;

background: #C4C4C4;


/* Ellipse 14 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1358.66px;
top: 3209.55px;

background: #C4C4C4;


/* Ellipse 8 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1358.66px;
top: 3152.11px;

background: #C4C4C4;


/* Ellipse 15 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1358.66px;
top: 3266.99px;

background: #C4C4C4;


/* Ellipse 4 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1473.53px;
top: 3094.67px;

background: #C4C4C4;


/* Ellipse 16 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1473.53px;
top: 3209.55px;

background: #C4C4C4;


/* Ellipse 9 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1473.53px;
top: 3152.11px;

background: #C4C4C4;


/* Ellipse 17 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1473.53px;
top: 3266.99px;

background: #C4C4C4;


/* Ellipse 6 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1588.41px;
top: 3094.67px;

background: #C4C4C4;


/* Ellipse 18 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1588.41px;
top: 3209.55px;

background: #C4C4C4;


/* Ellipse 10 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1588.41px;
top: 3152.11px;

background: #C4C4C4;


/* Ellipse 19 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1588.41px;
top: 3266.99px;

background: #C4C4C4;


/* Ellipse 3 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1416.09px;
top: 3094.67px;

background: #C4C4C4;


/* Ellipse 20 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1416.09px;
top: 3209.55px;

background: #C4C4C4;


/* Ellipse 11 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1416.09px;
top: 3152.11px;

background: #C4C4C4;


/* Ellipse 21 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1416.09px;
top: 3266.99px;

background: #C4C4C4;


/* Ellipse 5 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1530.97px;
top: 3094.67px;

background: #C4C4C4;


/* Ellipse 22 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1530.97px;
top: 3209.55px;

background: #C4C4C4;


/* Ellipse 12 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1530.97px;
top: 3152.11px;

background: #C4C4C4;


/* Ellipse 23 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1530.97px;
top: 3266.99px;

background: #C4C4C4;


/* Ellipse 7 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1645.85px;
top: 3094.67px;

background: #C4C4C4;


/* Ellipse 24 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1645.85px;
top: 3209.55px;

background: #C4C4C4;


/* Ellipse 13 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1645.85px;
top: 3152.11px;

background: #C4C4C4;


/* Ellipse 25 */

position: absolute;
width: 6.15px;
height: 6.15px;
left: 1645.85px;
top: 3266.99px;

background: #C4C4C4;


/* Book A consultation */

position: absolute;
width: 485.92px;
height: 134.36px;
left: 269px;
top: 2466.79px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 51px;
line-height: 76px;

/* bluedark */
color: #0A043C;



/* We provide expert advise on real estate at the convenience of your mobile phone */

position: absolute;
width: 624px;
height: 74px;
left: 276px;
top: 2621px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 37px;
/* or 185% */

color: #79869F;



/* Group 1871 */

position: absolute;
width: 727px;
height: 473px;
left: 317px;
top: 2718px;



/* Land / House Acquisition */

position: absolute;
width: 272px;
height: 34px;
left: 410px;
top: 2734px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 33px;
/* identical to box height, or 166% */
letter-spacing: 0.02em;

color: #474747;



/* Land Title */

position: absolute;
width: 184px;
height: 34px;
left: 804px;
top: 2734px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 33px;
/* identical to box height, or 166% */
letter-spacing: 0.02em;

color: #474747;



/* Brokerage services */

position: absolute;
width: 305.76px;
height: 34px;
left: 409.86px;
top: 2926px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 33px;
/* identical to box height, or 166% */
letter-spacing: 0.02em;

color: #474747;



/* Taxes */

position: absolute;
width: 198.3px;
height: 34px;
left: 804.29px;
top: 2923.34px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 33px;
/* identical to box height, or 166% */
letter-spacing: 0.02em;

color: #474747;



/* Execution of Private & Public Contracts */

position: absolute;
width: 478px;
height: 72px;
left: 410px;
top: 3119px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 33px;
/* or 166% */
letter-spacing: 0.02em;

color: #474747;



/* Event Hosting */

position: absolute;
width: 153px;
height: 34px;
left: 410px;
top: 3029px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 33px;
/* identical to box height, or 166% */
letter-spacing: 0.02em;

color: #474747;



/* Listing / Selling / Patnership */

position: absolute;
width: 311.3px;
height: 34px;
left: 409.86px;
top: 2829px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 33px;
/* identical to box height, or 166% */
letter-spacing: 0.02em;

color: #474747;



/* Business Plan */

position: absolute;
width: 199px;
height: 34px;
left: 804px;
top: 3029px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 33px;
/* identical to box height, or 166% */
letter-spacing: 0.02em;

color: #474747;



/* Workshop / Training */

position: absolute;
width: 240px;
height: 34px;
left: 804px;
top: 3113px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 33px;
/* identical to box height, or 166% */
letter-spacing: 0.02em;

color: #474747;



/* Construction /Interior Design */

position: absolute;
width: 199px;
height: 67px;
left: 804px;
top: 2829px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 33px;
/* or 166% */
letter-spacing: 0.02em;

color: #474747;



/* Ellipse 24 */

position: absolute;
width: 66.47px;
height: 66.47px;
left: 317px;
top: 2718px;

background: #F6FCFA;


/* Ellipse 27 */

position: absolute;
width: 66.47px;
height: 66.47px;
left: 713.51px;
top: 2718px;

background: #F6FCFA;


/* Ellipse 31 */

position: absolute;
width: 66.47px;
height: 66.47px;
left: 713.51px;
top: 2814px;

background: #F6FCFA;


/* Ellipse 32 */

position: absolute;
width: 66.47px;
height: 66.47px;
left: 713.51px;
top: 2911px;

background: #F6FCFA;


/* Ellipse 25 */

position: absolute;
width: 66.47px;
height: 66.47px;
left: 317px;
top: 2910px;

background: #F6FCFA;


/* Ellipse 30 */

position: absolute;
width: 66.47px;
height: 66.47px;
left: 317px;
top: 2813px;

background: #F6FCFA;


/* Ellipse 28 */

position: absolute;
width: 66.47px;
height: 66.47px;
left: 713.51px;
top: 2910px;

background: #F6FCFA;


/* Ellipse 33 */

position: absolute;
width: 66.47px;
height: 66.47px;
left: 713.51px;
top: 3013px;

background: #F6FCFA;


/* Ellipse 34 */

position: absolute;
width: 66.47px;
height: 66.47px;
left: 713.51px;
top: 3097px;

background: #F6FCFA;


/* Ellipse 26 */

position: absolute;
width: 66.47px;
height: 66.47px;
left: 317px;
top: 3100px;

background: #F6FCFA;


/* Ellipse 29 */

position: absolute;
width: 66.47px;
height: 66.47px;
left: 319px;
top: 3012px;

background: #F6FCFA;


/* simple-icons:springsecurity */

position: absolute;
width: 26.59px;
height: 26.59px;
left: 336.94px;
top: 2738px;



/* Vector */

position: absolute;
left: 14.21%;
right: 14.21%;
top: 0%;
bottom: 0%;

background: #009617;


/* fxemoji:construction */

position: absolute;
width: 26.59px;
height: 26.59px;
left: 733.45px;
top: 2738px;



/* Vector */

position: absolute;
left: 36.61%;
right: 30.09%;
top: 40.45%;
bottom: 0.97%;

background: #597B91;


/* Vector */

position: absolute;
left: 35.14%;
right: 28.84%;
top: 40.45%;
bottom: 5.29%;

background: #009617;


/* Vector */

position: absolute;
left: 27.3%;
right: 57.7%;
top: 92.98%;
bottom: 0.78%;

background: #E2AF8D;


/* Vector */

position: absolute;
left: 27.4%;
right: 57.69%;
top: 88.76%;
bottom: 5.51%;

background: #E5E4DF;


/* Vector */

position: absolute;
left: 27.34%;
right: 57.62%;
top: 88.67%;
bottom: 5.47%;

background: #FF473E;


/* Vector */

position: absolute;
left: 72.37%;
right: 0.9%;
top: 72.24%;
bottom: 0.98%;

background: #D8D8D8;


/* Vector */

position: absolute;
left: 2.29%;
right: 31%;
top: 0.2%;
bottom: 86.02%;

background: #D7F4F7;


/* Vector */

position: absolute;
left: 14.41%;
right: 80.2%;
top: 0.79%;
bottom: 91.72%;

background: #BFBCAF;


/* Vector */

position: absolute;
left: 11.24%;
right: 80.14%;
top: 6.88%;
bottom: 3.27%;

background: #D1CFC3;


/* Vector */

position: absolute;
left: 8.89%;
right: 77.8%;
top: 93.7%;
bottom: 1.26%;

background: #BFBCAF;


/* Vector */

position: absolute;
left: 1.38%;
right: 30.09%;
top: 11.98%;
bottom: 80.09%;

background: #D1CFC3;


/* Vector */

position: absolute;
left: 54.98%;
right: 24.03%;
top: 26.76%;
bottom: 65.04%;

/* CTO - Primary */
background: #093304;


/* Vector */

position: absolute;
left: 71.83%;
right: 20.04%;
top: 26.77%;
bottom: 65.1%;

background: #009E83;


/* Vector */

position: absolute;
left: 62.35%;
right: 34.74%;
top: 15.22%;
bottom: 65.89%;

background: #597B91;


/* Vector */

position: absolute;
left: 62.35%;
right: 27.57%;
top: 31.4%;
bottom: 62.11%;

background: #597B91;


/* Vector */

position: absolute;
left: 73.25%;
right: 21.47%;
top: 28.19%;
bottom: 66.53%;

background: #009617;


/* Vector */

position: absolute;
left: 59.24%;
right: 31.84%;
top: 26.77%;
bottom: 65.1%;

/* CTO - Primary */
background: #093304;


/* Vector */

position: absolute;
left: 11.21%;
right: 80.19%;
top: 24.43%;
bottom: 73.28%;

background: #FF473E;


/* Vector */

position: absolute;
left: 7.07%;
right: 33.55%;
top: 12.16%;
bottom: 80.27%;

background: #F4F3EF;


/* Vector */

position: absolute;
left: 62.1%;
right: 34.5%;
top: 18.21%;
bottom: 78.39%;

background: #009617;


/* Vector */

position: absolute;
left: 60.57%;
right: 32.96%;
top: 13.44%;
bottom: 80.09%;

background: #FF473E;


/* Vector */

position: absolute;
left: 62.1%;
right: 34.5%;
top: 14.97%;
bottom: 81.63%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 11.21%;
right: 80.19%;
top: 11.98%;
bottom: 80.09%;

background: #BFBCAF;


/* fluent:people-settings-20-filled */

position: absolute;
width: 26.59px;
height: 26.59px;
left: 336.94px;
top: 2930px;



/* Vector */

position: absolute;
left: 7.49%;
right: 5.77%;
top: 12.5%;
bottom: 6.94%;

background: #009617;


/* fluent:people-settings-20-filled */

position: absolute;
width: 26.59px;
height: 26.59px;
left: 336.94px;
top: 3123px;



/* Vector */

position: absolute;
left: 7.49%;
right: 5.77%;
top: 12.5%;
bottom: 6.94%;

background: #009617;


/* fluent:people-settings-20-filled */

position: absolute;
width: 26.59px;
height: 26.59px;
left: 336.94px;
top: 3033px;



/* Vector */

position: absolute;
left: 7.49%;
right: 5.77%;
top: 12.5%;
bottom: 6.94%;

background: #009617;


/* fluent:people-settings-20-filled */

position: absolute;
width: 26.59px;
height: 26.59px;
left: 336.94px;
top: 2833px;



/* Vector */

position: absolute;
left: 7.49%;
right: 5.77%;
top: 12.5%;
bottom: 6.94%;

background: #009617;


/* fluent:conference-room-16-filled */

position: absolute;
width: 26.59px;
height: 26.59px;
left: 733.45px;
top: 2930px;



/* Vector */

position: absolute;
left: 18.75%;
right: 18.75%;
top: 12.5%;
bottom: 12.52%;

background: #009617;


/* fluent:conference-room-16-filled */

position: absolute;
width: 26.59px;
height: 26.59px;
left: 733.45px;
top: 3033px;



/* Vector */

position: absolute;
left: 18.75%;
right: 18.75%;
top: 12.5%;
bottom: 12.52%;

background: #009617;


/* fluent:conference-room-16-filled */

position: absolute;
width: 26.59px;
height: 26.59px;
left: 733.45px;
top: 3119px;



/* Vector */

position: absolute;
left: 18.75%;
right: 18.75%;
top: 12.5%;
bottom: 12.52%;

background: #009617;


/* fluent:conference-room-16-filled */

position: absolute;
width: 26.59px;
height: 26.59px;
left: 733.45px;
top: 2833px;



/* Vector */

position: absolute;
left: 18.75%;
right: 18.75%;
top: 12.5%;
bottom: 12.52%;

background: #009617;


/* Explore Featured Agents */

position: absolute;
width: 899px;
height: 84px;
left: 510px;
top: 3505px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 51px;
line-height: 40px;
/* or 78% */
text-align: center;

/* CTO - Primary */
color: #093304;



/* Group 1845 */

position: absolute;
width: 318px;
height: 65px;
left: 801px;
top: 4355px;



/* Group 1872 */

position: absolute;
width: 318px;
height: 65px;
left: 801px;
top: 4355px;



/* Rectangle 899 */

position: absolute;
width: 318px;
height: 65px;
left: 801px;
top: 4355px;

background: #138D2B;
box-shadow: 0px 9px 46px rgba(17, 64, 231, 0.29);
border-radius: 10px;


/* Register as an Agent */

position: absolute;
width: 213px;
height: 27px;
left: 853px;
top: 4374px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 26px;
text-align: center;

color: #FFFFFF;



/* Group 1874 */

position: absolute;
width: 318px;
height: 65px;
left: 294px;
top: 3239px;



/* Group 1872 */

position: absolute;
width: 318px;
height: 65px;
left: 294px;
top: 3239px;



/* Rectangle 899 */

position: absolute;
width: 318px;
height: 65px;
left: 294px;
top: 3239px;

background: #138D2B;
box-shadow: 0px 9px 46px rgba(17, 64, 231, 0.29);
border-radius: 10px;


/* Consult */

position: absolute;
width: 213px;
height: 27px;
left: 346px;
top: 3258px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 26px;
text-align: center;

color: #FFFFFF;



/* Frame 43 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;

position: absolute;
width: 1680px;
height: 509px;
left: 122px;
top: 3752px;



/* Group 3712 */

width: 390px;
height: 509px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 38 */

position: absolute;
width: 390px;
height: 509px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-radius: 30px;


/* Frame 37 */

position: absolute;
width: 362px;
height: 318px;
left: 14px;
top: 12px;

background: #E9E9E9;
border-radius: 30px 30px 30px 0px;


/* Molinge Henry (1) 1 */

position: absolute;
width: 1175px;
height: 753px;
left: -369px;
top: -96px;

background: url(Molinge Henry (1).jpg);


/* IMG_E8401 */

position: absolute;
width: 372px;
height: 496px;
left: -5px;
top: -33px;

background: url(IMG_E8401.jpg);


/* Ashley Nkongho */

position: absolute;
width: 248px;
height: 45px;
left: 37.06px;
top: 361px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 45px;
/* identical to box height */

color: #138D2B;



/* 5years Experience */

position: absolute;
width: 186px;
height: 30px;
left: 32px;
top: 444.05px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

/* darkblue */
color: #0A043C;



/* Group 1706 */

position: absolute;
width: 128px;
height: 24px;
left: 32.06px;
top: 413px;



/* 68 Closed Sales */

position: absolute;
width: 128px;
height: 24px;
left: 32.06px;
top: 413px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

/* GREY */
color: #79869F;



/* Group 3713 */

width: 390px;
height: 509px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 38 */

position: absolute;
width: 390px;
height: 509px;
left: 430px;
top: 0px;

background: #FFFFFF;
border-radius: 60px;


/* Frame 37 */

position: absolute;
width: 362px;
height: 318px;
left: 14px;
top: 12px;

background: #E9E9E9;
border-radius: 60px 60px 60px 0px;


/* Molinge Henry (1) 1 */

position: absolute;
width: 1175px;
height: 753px;
left: -369px;
top: -96px;

background: url(Molinge Henry (1).jpg);


/* molinge 1 */

position: absolute;
width: 531px;
height: 547px;
left: -107px;
top: -52px;

background: url(molinge.png);


/* Molinge Henry */

position: absolute;
width: 368px;
height: 45px;
left: 37.06px;
top: 361px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;

color: #138D2B;



/* 12years Experience */

position: absolute;
width: 233.69px;
height: 31.74px;
left: 32px;
top: 444.05px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;

/* darkblue */
color: #0A043C;



/* Group 1706 */

position: absolute;
width: 165px;
height: 23px;
left: 32.06px;
top: 413px;



/* 105 Closed Sales */

position: absolute;
width: 165px;
height: 23px;
left: 32.06px;
top: 413px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

/* GREY */
color: #79869F;



/* Group 3714 */

width: 390px;
height: 509px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 38 */

position: absolute;
width: 390px;
height: 509px;
left: 860px;
top: 0px;

background: #FFFFFF;
border-radius: 60px;


/* Frame 37 */

position: absolute;
width: 362px;
height: 318px;
left: 14px;
top: 12px;

background: #E9E9E9;
border-radius: 60px 60px 60px 0px;


/* Molinge Henry (1) 1 */

position: absolute;
width: 1175px;
height: 753px;
left: -369px;
top: -96px;

background: url(Molinge Henry (1).jpg);


/* Marion5 */

position: absolute;
width: 550px;
height: 520px;
left: -72px;
top: -31px;

background: url(Marion5.jpg);


/* Marion Ngwese */

position: absolute;
width: 368px;
height: 45px;
left: 37.06px;
top: 361px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;

color: #138D2B;



/* 5years Experience */

position: absolute;
width: 233.69px;
height: 31.74px;
left: 32px;
top: 444.05px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;

/* darkblue */
color: #0A043C;



/* Group 1706 */

position: absolute;
width: 165px;
height: 23px;
left: 32.06px;
top: 413px;



/* 62 Closed Sales */

position: absolute;
width: 165px;
height: 23px;
left: 32.06px;
top: 413px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

/* GREY */
color: #79869F;



/* Group 3715 */

width: 390px;
height: 509px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Frame 38 */

position: absolute;
width: 390px;
height: 509px;
left: 1290px;
top: 0px;

background: #FFFFFF;
border-radius: 60px;


/* Frame 37 */

position: absolute;
width: 362px;
height: 318px;
left: 14px;
top: 12px;

background: #E9E9E9;
border-radius: 60px 60px 60px 0px;


/* WhatsApp Image 2022-08-25 at 10.20 1 */

position: absolute;
width: 758px;
height: 470px;
left: -183px;
top: -26px;

background: url(WhatsApp Image 2022-08-25 at 10.20.jpg);


/* Deresy Ndinde */

position: absolute;
width: 368px;
height: 45px;
left: 37.06px;
top: 361px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;

color: #138D2B;



/* 4years Experience */

position: absolute;
width: 233.69px;
height: 31.74px;
left: 32px;
top: 444.05px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;

/* darkblue */
color: #0A043C;



/* Group 1706 */

position: absolute;
width: 165px;
height: 23px;
left: 32.06px;
top: 413px;



/* 41 Closed Sales */

position: absolute;
width: 165px;
height: 23px;
left: 32.06px;
top: 413px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

/* GREY */
color: #79869F;



/* Frame 44 */

position: absolute;
width: 543px;
height: 572px;
left: 1060px;
top: 2610px;

background: #FFFFFF;
border-radius: 10px;


/* afro-black-woman-with-braids-telemarketer-concept 1 */

position: absolute;
width: 1352px;
height: 902px;
left: -488px;
top: 0px;

background: url(afro-black-woman-with-braids-telemarketer-concept.jpg);


/* customer-service-agent-financial-advisor-call-center-employee-sits-desk-company */

position: absolute;
width: 912px;
height: 608px;
left: -312px;
top: -18px;

background: url(customer-service-agent-financial-advisor-call-center-employee-sits-desk-company.jpg);


/* Group 3732 */

position: absolute;
width: 48px;
height: 22.38px;
left: 47px;
top: 1858.42px;



/* Oval */

position: absolute;
left: 2.45%;
right: 95.05%;
top: 40.72%;
bottom: 58.79%;

background: #FFFFFF;


/* Left */

position: absolute;
left: 3.44%;
right: 96.18%;
top: 40.9%;
bottom: 58.97%;

background: #138D2B;


/* Group 3733 */

position: absolute;
width: 48px;
height: 22.38px;
left: 1877px;
top: 1880.8px;

transform: rotate(180deg);


/* Oval */

position: absolute;
left: 97.76%;
right: -0.26%;
top: 41.21%;
bottom: 58.3%;

background: #FFFFFF;
transform: rotate(180deg);


/* Left */

position: absolute;
left: 96.77%;
right: 2.84%;
top: 41.03%;
bottom: 58.85%;

background: #138D2B;
transform: rotate(180deg);


/* Group 3738 */

position: absolute;
width: 1920px;
height: 131px;
left: 0px;
top: 0px;



/* Rectangle 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.07);


/* Group 6 */

position: absolute;
left: 28.85%;
right: 2.71%;
top: 35.88%;
bottom: 25.19%;



/* Group 3 */

position: absolute;
left: 28.85%;
right: 24.64%;
top: 42.75%;
bottom: 35.11%;



/* Home */

position: absolute;
left: 28.85%;
right: 68.18%;
top: 42.75%;
bottom: 35.11%;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 28px;
/* identical to box height */

color: #000000;



/* Properties */

position: absolute;
left: 51.61%;
right: 43.39%;
top: 42.75%;
bottom: 35.11%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 28px;
/* identical to box height */

color: #999999;



/* Pricing */

position: absolute;
left: 60.36%;
right: 36.3%;
top: 42.75%;
bottom: 35.11%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 28px;
/* identical to box height */

color: #999999;



/* Services */

position: absolute;
left: 43.75%;
right: 52.14%;
top: 42.75%;
bottom: 35.11%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 28px;
/* identical to box height */

color: #999999;



/* About Us */

position: absolute;
left: 35.57%;
right: 60%;
top: 42.75%;
bottom: 35.11%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 28px;
/* identical to box height */

color: #999999;



/* Blog */

position: absolute;
left: 67.45%;
right: 30.36%;
top: 42.75%;
bottom: 35.11%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 28px;
/* identical to box height */

color: #999999;



/* FAQ */

position: absolute;
left: 73.39%;
right: 24.64%;
top: 42.75%;
bottom: 35.11%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 28px;
/* identical to box height */

color: #999999;



/* Group 4 */

position: absolute;
left: 79.11%;
right: 2.71%;
top: 35.88%;
bottom: 25.19%;



/* Contact */

position: absolute;
left: 79.11%;
right: 16.82%;
top: 42.75%;
bottom: 35.11%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 28px;
/* identical to box height */

color: #999999;



/* Group 2 */

position: absolute;
left: 86.98%;
right: 2.71%;
top: 35.88%;
bottom: 25.19%;



/* Rectangle 3 */

position: absolute;
left: 86.98%;
right: 2.71%;
top: 35.88%;
bottom: 25.19%;

background: #009617;
border-radius: 7.5px;


/* Submit Request */

position: absolute;
left: 88.07%;
right: 2.92%;
top: 45.04%;
bottom: 38.17%;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 28px;

color: #FFFFFF;



/* Molinge white 2 */

position: absolute;
left: 8.12%;
right: 81.72%;
top: 30.53%;
bottom: 29.77%;

background: url(Molinge green.png);
